@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: CairoBold;
  src: url("../fonts/Cairo-Bold.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: Cairo;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.gradient {
  background: rgb(0, 185, 255);
  background: linear-gradient(45deg,
      rgba(0, 185, 255, 0.45) 50%,
      rgba(255, 112, 0, 0.45) 50%);
}